
<ion-content>

  <div class="container mt-3">
    <div class="">
      <h1 class=" text mt-0">ثبت نام</h1>
      <h2 (click)="login()" class=" text mt-4"> ورود</h2>
    </div>


    <div class="row">
      <div class="col mt-3">
        <form [formGroup]="form" (ngSubmit)="confirm()">
          <ion-item dir="rtl"
                    [class.valid]="form.get('mobile').valid && form.get('mobile').dirty"
                    [class.invalid]="form.get('mobile').invalid && form.get('mobile').dirty">
            <ion-label position="fixed " class="text">تلفن همراه</ion-label>
            <ion-input formControlName="mobile" type="number"></ion-input>

          </ion-item>
          <ion-item
                  [class.valid]="form.get('fName').valid && form.get('fName').dirty"
                  [class.invalid]="form.get('fName').invalid && form.get('fName').dirty"
                    dir="rtl">
            <ion-label position="fixed " class="text">نام</ion-label>
            <ion-input formControlName="fName" type="text"></ion-input>

          </ion-item>
          <ion-item
                  [class.valid]="form.get('lName').valid && form.get('lName').dirty"
                  [class.invalid]="form.get('lName').invalid && form.get('lName').dirty"
                  dir="rtl">
            <ion-label  position="fixed " class="text">نام خانوادگی</ion-label>
            <ion-input formControlName="lName" type="text"></ion-input>

          </ion-item>




            <ion-radio-group formControlName="gender" dir="rtl">
              <ion-item>
                <ion-label class="text">مرد</ion-label>
                <ion-radio value="man"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label class="text">زن</ion-label>
                <ion-radio value="woman"></ion-radio>
              </ion-item>
            </ion-radio-group>




          <ion-button class="mt-4 text-bottom text-light"  type="submit" expand="full">
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading">تایید</span>
          </ion-button>

        </form>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</ion-content>
